<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="cache-control" content="no-cache">
    {{#refresh}}
        <meta http-equiv="refresh" content="10">
    {{/refresh}}
    <title>Unprll Blockchain Explorer</title>
    <!--<link rel="stylesheet" type="text/css" href="/css/style.css">-->
    <style type="text/css">
        {{#css_styles}}{{/css_styles}}
    </style>
    {{#js_files}}{{/js_files}}
</head>
<body>
<div style="margin-bottom: 1rem;">
    <div>
        <h1><a href="/">Unprll Blockchain Explorer</a></h1>
        <h4>{{^enable_js}}no javascript - {{/enable_js}}no cookies - no web trackers - no images - open source</h4>
    </div>
    <div>
        <form action="/search" method="get" style="width:100%; margin-top:15px">
            <input type="text" name="value" class="full-width" placeholder="block height, block hash, transaction hash">
        </form>
    </div>
</div>
